/* pc 버전 main page */
:root{
    --main-green: #cedacc;
    --main-pink: #f2e1e7;
    --main-brown: #E1D7C6;
    /* --main-darkgreen: #303c30; */
    --main-darkgreen: #8D7B68;
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
ul{list-style-type: none;}

a{
    color: #333;
    text-decoration: none;
}
body{
    background-image: url("../images/bg-forest.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Gowun Dodum', sans-serif;
}



/* header */
header{
    width: 100%;
    display: flex;
    background-color: var(--main-brown);
    align-items: center;
    padding: 1%;
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    /* opacity: 0.95; */
}
header h1{
    width: 70%;
    margin-left: 3%;
}
header h1 img{
    width: 100%;
}
nav{
    width: 30%;
    padding-left: 5%;
    /* padding-right: 5%; */
    /* border: 1px solid #999; */
}
nav .depth1{
    /* display: flex; */
    justify-content: space-around;

    flex-direction: column;
    position: absolute;
    margin-top: 5%;
    right: 0;
    top: 60%;
    /* padding-top: 10px; */
    padding: 10px 10px 0px 10px;
    /* padding-right: 14%; */
    background-color: var(--main-brown);
    display: none;
}
nav .depth1.active{
    display: block;
}
nav .depth1 > li{
    width: 150px;
    position: relative;
    padding-bottom: 10%;
}
nav .depth1 > li > a{
    width: 100%;
}
.depth1 li .minus{
    width: 9%;
    float: right;
    margin-top: 3%;
    display: none;
}
.depth1 li .minus.active{display: block;}

.depth1 li .plus{
    width: 9%;
    float: right;
    margin-top: 4%;
    display: none;
}
.depth1 li .plus.active{display: block;}

/* @media(min-width: 977px){
    nav .depth1 > li > a{font-size: 1.1em;}
    header h1{font-size: 2em;}
    nav .depth2 > li > a{font-size: 0.9em;}
} */
@media(max-width: 767px){
    nav .depth1 > li > a{font-size: 0.9em;}
    header h1{font-size: 1em;}
    /* nav .depth2 > li > a{font-size: 0.5em;} */
}

/* header icon */
header .depth1-icon{
    width: 50%;
    display: flex;
}
.depth1-icon li img{
    width: 20px;
}
.depth1-icon li button{
    background: none;
    border: none;
}
.depth1-icon li #search{
    display: none;
}

/* depth2 */
nav .depth2{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
nav .depth2 > li{
    padding: 6% 0px;
    font-size: 12px;
}
nav .depth2 > li > a{
    color: gray;
}
nav .depth2 > li > a:hover{
    color: brown;
    font-weight: 800;
}
/* depth2 위치 조정 */
nav .depth2{
    /* position: absolute; */
    width: 100%;
    /* border: 1px solid #999; */
    background: var(--main-brown);
    /* overflow: hidden; */
    display: none;
}
/* nav .depth2.active{
    height: auto;
    opacity: 1;
} */




/* main-banner */
.main{
    /* background: #eee; */
    width: 100%;
    height: 100%;
}
#main-banner .slider .sliders > a >img{
    width: 100%;
    /* display: block; */
}
.slider{
    /* background-color: #eee; */
    height: 300px;
}
.slider .sliders{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slider .sliders a{
    /* display: block; */
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
}
.slider .sliders a.active{
    opacity: 1;
}




/* brand-info */
.brand-info{
    width: 100%;
    /* padding-top: 60%; */
    padding-top: 5%;
    padding-bottom: 5%;
}
.brand-info #brand #info{
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 10%;
    opacity: 0;
}
.brand-info #info p{
    font-weight: 500;
    font-size: 0.9em;
    /* font-style: italic; */
    margin-bottom: 5%;
    color: #eee;
}



/* Best item */
.main-item{
    width: 100%;
    margin: 0 auto;
    background-color: var(--main-darkgreen);
}
.main-item #items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#item1{
    width: 95%;
    display: block;
    /* padding-top: 5%; */
    opacity: 0;
    animation-duration: 1.5s;
}
#item1 a img{width: 100%;}
#item2{
    width: 95%;
    display: block;
    /* margin-top: 20%; */
    /* margin-bottom: 5%; */
    opacity: 0;
    animation-duration: 1.5s;
}
#item2 a img{width: 100%;}
#item3{
    width: 95%;
    display: block;
    /* padding-top: 5%; */
    opacity: 0;
    animation-duration: 1.5s;
}
#item3 a img{width: 100%;}
#item4{
    width: 95%;
    display: block;
    /* padding-top: 5%; */
    opacity: 0;
    animation-duration: 1.5s;
}
#item4 a img{width: 100%;}

#item1 a img, #item2 a img, 
#item3 a img, #item4 a img{
    position: relative;
    filter: brightness(70%);
}
#item1 a img.active, #item2 a img.active,
#item3 a img.active, #item4 a img.active{
    filter: brightness(50%);
    transition: 0.5s;
}
#items .itemInfo{
    position: absolute;
    top: 30%;
    /* font-style: italic; */
    /* display: none; */

    color: #fff;
    /* font-size: 1em; */
    flex-direction: row;
    padding: 3%;
    width: 100%;
}
.itemInfo > p{
    padding-top: 5%;
}
.itemInfo > h3 > a{
    color: #fff;
}
.main-item h1{
    color: #fff;
    /* font-size: 5em; */
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
@media(min-width: 977px){
    #items .itemInfo{font-size: 1em;}
    .main-item h1{font-size: 5em;}
}
@media(max-width: 900px){
    #items .itemInfo{font-size: 0.9em;}
    .main-item h1{font-size: 4em;}
}
@media(max-width: 767px){
    #items .itemInfo{font-size: 0.8em;}
    .main-item h1{font-size: 2em;}
}





/* item menu */
.menu{
    background-color: var(--main-darkgreen);
    width: 100%;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 15%;
}
.menu h1{
    color: #fff;
    padding-bottom: 5%;
    font-size: 2em;
}
.menu h4{
    color: #ddd;
}
#item-menu{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    padding-top: 4%;
}
.florist, .green, .woody, .aromatic, .chupre{
    width: 30%;
    position: relative;
    margin-top: 10%;
}
.florist img, .green img, .woody img, .aromatic img, .chupre img{
    width: 90%;
    border-radius: 50%;
}
.aromatic img{
    margin-left: 30%;
}
.chupre img{
    margin-left: -50%;
}
#item-menu a > span{
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 9;
    font-size: 0.8em;
    color: #fff;
    font-weight: bold;
}
#item-menu .aromatic a span{
    left: 45%;
}
#item-menu .chupre a span{
    left: -22%;
}
#item-menu > div{
    /* opacity: 0.5; */
}
#item-menu > div.active{
    opacity: 1;
    transition: 0.7s;
}
@media(min-width: 1060px){
    #item-menu a > span{font-size: 1.7em;}
}
@media(max-width: 900px){
    #item-menu a > span{font-size: 0.9em;}
}




/* 매장안내 */
.way{
    width: 90%;
    background-color: var(--main-brown);
    display: flex;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    margin-top: 5%;
    margin-bottom: 5%;
    
    flex-direction: column-reverse;
    position: relative;
}
.way img{
    width: 100%;
    margin-right: 0px;
}
.way button{
    position: absolute;
    top: 40%;
    right: 5%;
    padding: 2% 3%;
    background-color: #815c43;
    border: none;
}
.way a button{
    color: #fff;
    font-weight: 600;
    font-size: 0.7em;
}
.way #storeinfo{
    margin-bottom: 7%;
    margin-left: 2%;
}
.way #storeinfo > p{
    /* font-size: 1.1em; */
    margin-top: 10%;
    color: #624836;
    font-style: italic;
    font-size: 0.3em;
}
#storeinfo a button:hover{
    background: none;
    outline: 1px solid #815c43;
    transition: 0.2s;
    color: #815c43;
}
@media(min-width: 1060px){
    .way a button{font-size: 1em;}
    .way #storeinfo > p{font-size: 1.1em;}
}
@media(max-width: 900px){
    .way #storeinfo > p{font-size: 0.7em;}
}




/* footer */
footer{
    background-color: var(--main-darkgreen);
    color: #fff;
    padding: 10% 0%;
}
.footerInfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer h1{
    margin-left: 5%;
}
/* sns */
.footerInfo #sns{
    width: 50%;
    margin-left: 2%;
}
.footerInfo #sns li{
    margin: 5%;
}
.footerInfo #sns li a{
    color: #fff;
}
.footerInfo #sns li a:hover{
    font-weight: bold;
}
/* contact */
.footerInfo #contact{
    width: 50%;
    /* margin-left: 3%; */
}
.footerInfo #contact li{
    /* margin: 5%; */
    margin-top: 7%;
}
.footerInfo #contact li > span{
    padding-right: 5%;
}
footer > p{
    text-align: center;
    margin-top: 5%;
}
@media(min-width: 1060px){
    footer h1{font-size: 1.7em;}
    .footerInfo #sns li a{font-size: 1em;}
    .footerInfo #contact li{font-size: 1em;}
    footer > p{font-size: 1em;}
}
@media(max-width: 900px){
    footer h1{font-size: 1em;}
    .footerInfo #sns li a{font-size: 0.8em;}
    .footerInfo #contact li{font-size: 0.7em;}
    footer > p{font-size: 0.8em;}
}



/* 맨 위로 */
#top{
    opacity: 0;

    display: none;
}
#top.active{
    opacity: 1;
    transition: 1s;
}
#top .upto{
    position: fixed;
    z-index: 999;
    bottom: 3%;
    right: 1%;
    width: 91px;
    height: 98px;
    text-indent: -9999pc;
    background: url(/images/naver.png) no-repeat -306px -426px;
}
#top .upto:hover{
    background-position: -412px -426px;
}