/* pc 버전 main page */
:root{
    --main-green: #cedacc;
    --main-pink: #f2e1e7;
    --main-brown: #E1D7C6;
    /* --main-darkgreen: #303c30; */
    --main-darkgreen: #8D7B68;
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
ul{list-style-type: none;}

a{
    color: #333;
    text-decoration: none;
}
body{
    background-image: url("../images/bg-forest.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Noto Sans KR', sans-serif;
}



/* header */
header{
    width: 100%;
    display: flex;
    background-color: var(--main-brown);
    align-items: center;
    padding: 0.5%;
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    /* opacity: 0.95; */
}
header h1{
    width: 30%;
    margin-left: 3%;
}
header h1 img{
    width: 50%;
}
nav{
    width: 70%;
    padding-left: 5%;
    /* padding-right: 5%; */
    /* border: 1px solid #999; */
}
nav .depth1{
    display: flex;
    justify-content: space-around;
}
nav .depth1 > li{
    width: 100%;
    position: relative;
}
nav .depth1 > li > a{
    width: 100%;
    font-weight: bold;
}
@media(min-width: 977px){
    nav .depth1 > li > a{font-size: 1em;}
    header h1{font-size: 2em;}
    nav .depth2 > li > a{font-size: 0.9em;}
}
@media(max-width: 890px){
    nav .depth1 > li > a{font-size: 0.7em;}
    header h1{font-size: 1.2em;}
    nav .depth2 > li > a{font-size: 0.5em;}
}

/* header icon */
header .depth1-icon{
    width: 25%;
    display: flex;
}
header .depth1-icon #search{
    display: flex;
}
.depth1-icon li img{
    width: 25px;
    /* border: 1px solid black; */
}
.depth1-icon li #search button{
    background: none;
    border: none;
}
.depth1-icon li #search input{
    border: none;
    border-bottom: 2px solid black;
    background: none;
    font-size: 1em;
}
.depth1-icon li #search input[type=text]:focus{
    outline: none;
}
.depth1-icon li:nth-child(3){
    /* margin-left: -5%; */
}

/* 모바일 메뉴버튼 */
.depth1-icon li #m_menu{
    background: none;
    border: none;
    display: none;
}
.depth1-icon li #m_menu img{
    width: 90%;
}

/* depth2 */
nav .depth2{
    width: 100%;
    padding-left: 20%;
    left: -20%;
    /* padding-bottom: 50%; */
    padding-top: 10%;
}
nav .depth2 > li{
    padding: 10% 0px;
}
nav .depth2 > li > a:hover{
    color: #617A55;
    border-bottom: 1px solid #617A55;
}
/* depth2 위치 조정 */
nav .depth2{
    position: absolute;
    width: 100%;
    /* border: 1px solid #999; */
    background: var(--main-brown);
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}
nav .depth2.active{
    height: 300px;
    opacity: 1;
}




/* main-banner */
.main{
    width: 100%;
    height: 100%;
}
#main-banner .slider .sliders > a >img{
    width: 100%;
    /* display: block; */
}
.slider{
    height: 900px;
}
.slider .sliders{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slider .sliders a{
    position: absolute;
    /* display: block; */
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
}
.slider .sliders a.active{
    opacity: 1;
}




/* brand-info */
.brand-info{
    width: 100%;
    /* margin-top: 60%; */
    padding-top: 5%;
    padding-bottom: 5%;

    height: auto;
}
.brand-info #brand #info{
    width: 100%;
    text-align: center;
    padding-top: 5%;
    opacity: 0;
}
.brand-info #info p{
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 5%;
    color: #eee;
}



/* main item */
.main-item{
    width: 100%;
    margin: 0 auto;
    background-color: var(--main-darkgreen);
}
.main-item #items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#item1{
    width: 50%;
    display: block;
    opacity: 0;
    animation-duration: 1.5s;
}
#item1 a img{width: 100%;}
#item2{
    width: 50%;
    display: block;
    opacity: 0;
    animation-duration: 1.5s;
}
#item2 a img{width: 100%;}
#item3{
    width: 50%;
    display: block;
    opacity: 0;
    animation-duration: 1.5s;
}
#item3 a img{width: 100%;}
#item4{
    width: 50%;
    display: block;
    opacity: 0;
    animation-duration: 1.5s;
}
#item4 a img{width: 100%;}

#item1 a img, #item2 a img, 
#item3 a img, #item4 a img{
    position: relative;
}
#item1 a img.active, #item2 a img.active,
#item3 a img.active, #item4 a img.active{
    filter: brightness(50%);
    transition: 0.5s;
}
#items .itemInfo{
    position: absolute;
    top: 30%;
    /* font-style: italic; */
    display: none;

    color: #fff;
    /* font-size: 1em; */
    flex-direction: row;
    padding: 3%;
    width: 100%;
}
.itemInfo > p{
    padding-top: 5%;
}
.itemInfo > h3 > a{
    color: #fff;
}
.main-item h1{
    color: #fff;
    /* font-size: 5em; */
    margin-left: 42%;
    padding-top: 5%;
    padding-bottom: 5%;
}
@media(min-width: 977px){
    #items .itemInfo{font-size: 1.2em;}
    .main-item h1{font-size: 5em;}
}
@media(max-width: 900px){
    #items .itemInfo{font-size: 0.8em;}
    .main-item h1{font-size: 4em;}
}





/* item menu */
.menu{
    background-color: var(--main-darkgreen);
    width: 100%;
    text-align: center;
    padding-top: 1%;
}
.menu h1{
    padding-top: 5%;
    color: #fff;
    font-size: 3em;
}
.menu h4{
    color: #ddd;
    padding: 3%;
}
#item-menu{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    padding-top: 4%;
    padding-bottom: 10%;
}
.florist, .green, .woody, .aromatic, .chupre{
    position: relative;
    width: 13%;
}
.florist img, .green img, .woody img, .aromatic img, .chupre img{
    width: 100%;
    border-radius: 50%;
}
#item-menu a > span{
    position: absolute;
    top: 42%;
    left: 30%;
    z-index: 9;
    /* font-size: 1.7em; */
    color: #fff;
    font-weight: bold;
}
#item-menu .aromatic a span{
    opacity: 1;
    left: 25%;
}
#item-menu .chupre a span{
    top: 40%;
    left: 10%;
}
#item-menu > div{
    opacity: 0.5;
}
#item-menu > div.active{
    opacity: 1;
    transition: 0.7s;
}
@media(min-width: 1060px){
    #item-menu a > span{font-size: 1.7em;}
}
@media(max-width: 900px){
    #item-menu a > span{font-size: 0.7em;}
}




/* 매장안내 */
.way{
    width: 85%;
    position: relative;
    background-color: var(--main-brown);
    display: flex;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    margin-top: 5%;
    margin-bottom: 5%;
}
.way img{
    width: 50%;
    margin-right: 0px;
}
.way button{
    position: absolute;
    bottom: 7%;
    left: 30%;
    width: 17%;
    height: 4%;
    background-color: #815c43;
    padding: 1%;
    padding-bottom: 2.5%;
    border: none;
}
@media(min-width: 1060px){
    .way a button{font-size: 1em;}
    .way #storeinfo > p{font-size: 1.2em;}
}
@media(max-width: 900px){
    .way a button{font-size: 0.5em;}
    .way #storeinfo > p{font-size: 0.6em;}
}
.way a button{
    /* font-size: 18px; */
    /* font-size: 1.1em; */
    color: #fff;
    font-weight: 600;
}
.way #storeinfo{
    margin-bottom: 7%;
    margin-left: 2%;
}
.way #storeinfo > p{
    /* font-size: 1.1em; */
    margin-top: 10%;
    color: #624836;
    font-style: italic;
}
#storeinfo a button:hover{
    background: none;
    outline: 1px solid #815c43;
    transition: 0.2s;
    color: #815c43;
}




/* footer */
footer{
    background-color: var(--main-darkgreen);
    color: #fff;
    padding: 2% 0%;
}
.footerInfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer h1{
    margin-left: 20%;
}
/* sns */
.footerInfo #sns{
    width: 50%;
    margin-left: 20%;
}
.footerInfo #sns li{
    margin: 5%;
}
.footerInfo #sns li a{
    color: #fff;
}
.footerInfo #sns li a:hover{
    font-weight: bold;
}
/* contact */
.footerInfo #contact{
    width: 50%;
    margin-left: 10%;
}
.footerInfo #contact li{
    margin: 5%;
}
.footerInfo #contact li > span{
    padding-right: 5%;
}
footer > p{
    text-align: center;
}
@media(min-width: 1060px){
    footer h1{font-size: 1.7em;}
    .footerInfo #sns li a{font-size: 1em;}
    .footerInfo #contact li{font-size: 1em;}
    footer > p{font-size: 1em;}
}
@media(max-width: 900px){
    footer h1{font-size: 1em;}
    .footerInfo #sns li a{font-size: 0.8em;}
    .footerInfo #contact li{font-size: 0.8em;}
    footer > p{font-size: 0.8em;}
}



/* 맨 위로 */
#top{
    opacity: 0;
}
#top.active{
    opacity: 1;
    transition: 1s;
}
#top .upto{
    position: fixed;
    z-index: 999;
    bottom: 3%;
    right: 1%;
    width: 91px;
    height: 98px;
    text-indent: -9999pc;
    background: url(/images/naver2.png) no-repeat -306px -426px;
}
#top .upto:hover{
    background-position: -412px -426px;
}