/* mobile 버전 sub page */
:root{
    --main-green: rgb(206, 218, 204);
    --main-pink: rgb(242, 225, 231);
    --main-brown: rgb(218, 206, 192);
    --main-darkgreen: rgb(48, 60, 48);
}
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
ul{list-style-type: none;}

a{
    color: #333;
    text-decoration: none;
}
body{
    /* background-image: url("/images/bg-forest.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino, serif';
}



/* header */
header{
    width: 100%;
    display: flex;
    background-color: var(--main-brown);
    align-items: center;
    padding: 1%;
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    /* opacity: 0.95; */
}
header h1{
    width: 13%;
    margin-left: 3%;
}
nav{
    width: 75%;
    padding-left: 5%;
    /* padding-right: 5%; */
    /* border: 1px solid #999; */
}
nav .depth1{
    /* display: flex; */
    justify-content: space-around;

    flex-direction: column;
    position: absolute;
    margin-top: 5%;
    margin-left: 47%;
    /* padding-top: 10px; */
    padding: 10px;
    padding-right: 14%;
    background-color: var(--main-brown);
    display: none;
}
nav .depth1.active{
    display: block;
}
nav .depth1 > li{
    width: 100%;
    position: relative;
}
nav .depth1 > li > a{
    width: 100%;
    font-weight: bold;
}
/* @media(min-width: 977px){
    nav .depth1 > li > a{font-size: 1.1em;}
    header h1{font-size: 2em;}
    nav .depth2 > li > a{font-size: 0.9em;}
} */
@media(max-width: 767px){
    nav .depth1 > li > a{font-size: 0.7em;}
    header h1{font-size: 1em;}
    nav .depth2 > li > a{font-size: 0.5em;}
}

/* header icon */
header .depth1-icon{
    width: 40%;
    display: flex;
    margin-right: 5%;
}
.depth1-icon li > a > img{
    width: 90%;
}
/* 수정 */
.depth1-icon li button{
    background: none;
    border: none;
}
.depth1-icon li button img{
    width: 90%;
}
.depth1-icon li{
    margin-left: 5%;
}

/* depth2 */
nav .depth2{
    width: 100%;
    padding-left: 20%;
    left: -20%;
    /* padding-bottom: 50%; */
    padding-top: 10%;
}
nav .depth2 > li{
    padding: 10% 0px;
}
nav .depth2 > li > a:hover{
    color: brown;
    font-weight: 800;
}
/* depth2 위치 조정 */
nav .depth2{
    position: absolute;
    width: 100%;
    /* border: 1px solid #999; */
    background: var(--main-brown);
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}
nav .depth2.active{
    height: 285px;
    opacity: 1;
}





/* main */
.main{
    width: 100%;
    background-color: var(--main-darkgreen);
    position: relative;
    padding: 2%;
}
.main #brand{
    display: flex;
}
#brand img{
    width: 45%;
    /* margin-left: 50%; */
    --animate-duration: 3s;
}
#brand #info{
    position: absolute;
    color: #fff;
    top: 15%;
    /* right: 10%; */
    left: 5%;
}
#brand #info h1{
    margin-bottom: 10%;
    font-size: 2vw;
}
#brand #info h3{
    /* margin-top: 5%; */
    /* margin-left: 7%; */
    font-size: 1.1vw;
    margin-bottom: 9%;
}
#brand #info h4{
    /* margin-top: 4%; */
    opacity: 0.8;
    font-size: 0.9vw;
}
@media(max-width: 450px){
    #brand #info h4{
        font-size: 0.2em;
    }
}



/* 동영상 */
.contents{
    width: 100%;
    background-color: var(--main-darkgreen);
    padding-top: 10%;
    padding-bottom: 3%;
}
.contents h1{
    text-align: center;
    color: #fff;
    font-size: 2vw;
}
.contents .content{
    display: flex;
    margin-top: 5%;
}
.content #movie{
    width: 30%;
    margin-top: 5%;
}
.content #movie img{
    width: 100%;
}
.content #movie_info{
    color: #eee;
    margin-right: -15%;
    margin-top: 2%;
    z-index: 2;
}
.content #movie_info h3{
    margin-bottom: 10%;
    font-style: italic;
    font-size: 1vw;
}
.content #movie_info p{
    margin-bottom: 8%;
    font-style: italic;
    font-size: 0.9vw;
}



/* product slide */
.product{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: var(--main-darkgreen);
}
#products .slide a div{
    padding-left: 37%;
    /* background-color: var(--main-darkgreen); */
    color: #fff;
}
#products .slide{
    background-color: var(--main-darkgreen);
}
#products .slide a img{
    width: 95%;
    border: 1px solid black;
}
#products .slide a div span{
    font-weight: bold;
    font-size: 1vw;
}
#products .slide a div p{
    font-style: italic;
    /* padding-top: 3%; */
    font-size: 0.85vw;
}
.product .bx-wrapper{
    border: none;
    box-shadow: none;
}
.product .bx-pager{
    display: none;
}
.product h1{
    color: #fff;
    text-align: center;
    padding-bottom: 4%;
    font-size: 2.2vw;
    font-style: italic;
    /* text-decoration: underline; */
}




/* show now */
.shop{
    width: 100%;
    background-color: var(--main-darkgreen);
    overflow: hidden;
    position: relative;
}
.shop img{
    max-width: 100%;
    transition: all 0.5s linear;
    filter: brightness(40%);
}
.shop img.active{
    transform: scale(1.2);
}
.shop a{
    position: absolute;
    color: #fff;
    top: 80%;
    left: 45%;
}
.shop a button{
    font-size: 1.2vw;
    color: #fff;
    background-color: var(--main-darkgreen);
    border: none;
    width: 150%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.shop a button:hover{
    outline: 3px solid #fff;
    background-color: rgba(48, 60, 48, 0);
    color: var(--main-green);
    transition: 0.2s;
}



/* footer */
footer{
    background-color: var(--main-darkgreen);
    color: #fff;
    padding: 2% 0%;
}
.footerInfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer h1{
    margin-left: 5%;
}
/* sns */
.footerInfo #sns{
    width: 50%;
    margin-left: 2%;
}
.footerInfo #sns li{
    margin: 5%;
}
.footerInfo #sns li a{
    color: #fff;
}
.footerInfo #sns li a:hover{
    font-weight: bold;
}
/* contact */
.footerInfo #contact{
    width: 50%;
    /* margin-left: 3%; */
}
.footerInfo #contact li{
    /* margin: 5%; */
    margin-top: 7%;
}
.footerInfo #contact li > span{
    padding-right: 5%;
}
footer > p{
    text-align: center;
    margin-top: 5%;
}
@media(min-width: 1060px){
    footer h1{font-size: 1.7em;}
    .footerInfo #sns li a{font-size: 1em;}
    .footerInfo #contact li{font-size: 1em;}
    footer > p{font-size: 1em;}
}
@media(max-width: 900px){
    footer h1{font-size: 1em;}
    .footerInfo #sns li a{font-size: 0.8em;}
    .footerInfo #contact li{font-size: 0.8em;}
    footer > p{font-size: 0.8em;}
}