/* pc 버전 sub page */
:root{
    --main-green: #cedacc;
    --main-pink: #f2e1e7;
    --main-brown: #E1D7C6;
    /* --main-darkgreen: #303c30; */
    --main-darkgreen: #8D7B68;
}

/* html{cursor: url(../images/cursor.png) 20 30, url(../images/cursor2.png) 20 30, url(../images/cursor3.png) 20 30,auto} */
/* <a href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘  제작자: gariebaldy - Flaticon</a> */
/* <a href="https://www.flaticon.com/kr/free-icons/" title="본문 아이콘">본문 아이콘  제작자: Freepik - Flaticon</a> */
/* <a href="https://www.flaticon.com/kr/free-icons/-" title="손과 몸짓 아이콘">손과 몸짓 아이콘  제작자: Us and Up - Flaticon</a> */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
ul{list-style-type: none;}

a{
    color: #333;
    text-decoration: none;
}
body{
    /* background-image: url("/images/bg-forest.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Noto Sans KR', sans-serif;
}



/* header */
header{
    width: 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 0.5%;
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.3s;
}
header.active{
    padding: 0%;
    opacity: 0.8;
}
header h1{
    width: 30%;
    margin-left: 3%;
}
header h1 img{
    width: 50%;
}
nav{
    width: 70%;
    padding-left: 5%;
    /* padding-right: 5%; */
    /* border: 1px solid #999; */
}
nav .depth1{
    display: flex;
    justify-content: space-around;
}
nav .depth1 > li{
    width: 100%;
    position: relative;
}
nav .depth1 > li > a{
    width: 100%;
    font-weight: bold;
}
@media(min-width: 977px){
    nav .depth1 > li > a{font-size: 1em;}
    header h1{font-size: 2em;}
    nav .depth2 > li > a{font-size: 0.9em;}
}
@media(max-width: 890px){
    nav .depth1 > li > a{font-size: 0.7em;}
    header h1{font-size: 1.2em;}
    nav .depth2 > li > a{font-size: 0.5em;}
}

/* header icon */
header .depth1-icon{
    width: 25%;
    display: flex;
}
header .depth1-icon #search{
    display: flex;
}
.depth1-icon li img{
    width: 25px;
    /* border: 1px solid black; */
}
.depth1-icon li #search button{
    background: none;
    border: none;
}
.depth1-icon li #search input{
    border: none;
    border-bottom: 2px solid black;
    background: none;
    font-size: 1em;
}
.depth1-icon li #search input[type=text]:focus{
    outline: none;
}
.depth1-icon li:nth-child(3){
    /* margin-left: -5%; */
}


/* 모바일 메뉴버튼 */
.depth1-icon li #m_menu{
    background: none;
    border: none;
    display: none;
}
.depth1-icon li #m_menu img{
    width: 90%;
}
.depth1 li .plus, .depth1 li .minus{
    display: none;
}

/* depth2 */
nav .depth2{
    width: 100%;
    padding-left: 20%;
    left: -20%;
    /* padding-bottom: 50%; */
    padding-top: 10%;
}
nav .depth2 > li{
    padding: 10% 0px;
}
nav .depth2 > li > a:hover{
    color: #617A55;
    border-bottom: 1px solid #617A55;
}
/* depth2 위치 조정 */
nav .depth2{
    position: absolute;
    width: 100%;
    /* border: 1px solid #999; */
    background: #fff;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}
nav .depth2.active{
    height: 300px;
    opacity: 1;
}





/* main */
.main{
    width: 100%;
    background-color: var(--main-darkgreen);
    position: relative;
    padding: 2%;
}
.main #brand{
    display: flex;
}
#brand img{
    width: 45%;
    margin-left: 10%;
    --animate-duration: 3s;
}
#brand #info{
    position: absolute;
    color: #fff;
    top: 25%;
    right: 17%;
    z-index: 2;
}
#brand #info h1{
    margin-bottom: 10%;
    font-size: 3em;
}
#brand #info h3{
    margin-top: 5%;
    margin-left: -5%;
    font-size: 1.3em;
    margin-bottom: 10%;
}
#brand #info h4{
    margin-top: 4%;
    margin-left: 10%;
    opacity: 0.8;
    font-size: 1em;
}



/* 동영상 */
.contents{
    width: 100%;
    background-color: var(--main-darkgreen);
    padding-top: 10%;
    padding-bottom: 5%;
}
.contents h1{
    text-align: center;
    color: #fff;
    font-size: 3em;
}
.contents .content{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 7%;
    margin-left: 15%;
}
.content #movie{
    width: 35%;
}
.content #movie img{
    width: 100%;
    margin-left: -20%;
}
.content #movie_info{
    color: #eee;
    /* margin-right: -15%; */
    margin-top: 2%;
}
.content #movie_info h3{
    margin-bottom: 10%;
    font-style: italic;
    font-size: 1.5em;
}
.content #movie_info p{
    margin-bottom: 8%;
    /* font-style: italic; */
    font-size: 1.1em;
}



/* product slide */
.product{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 3%;
    background-color: var(--main-darkgreen);
}
#products .slide a div{
    padding-left: 37%;
    /* background-color: var(--main-darkgreen); */
    color: #fff;
}
#products .slide{
    background-color: var(--main-darkgreen);
}
#products .slide a img{
    width: 90%;
}
#products .slide a div span{
    font-weight: bold;
    font-size: 17px;
}
#products .slide a div p{
    font-style: italic;
    /* padding-top: 3%; */
    font-size: 15px;
}
.product .bx-wrapper{
    border: none;
    box-shadow: none;
    background-color: var(--main-darkgreen);
}
.product .bx-pager{
    display: none;
}
.product h1{
    color: #fff;
    text-align: center;
    padding-bottom: 4%;
    font-size: 3em;
}




/* show now */
.shop{
    width: 100%;
    background-color: var(--main-darkgreen);
    overflow: hidden;
    position: relative;
}
.shop img{
    max-width: 100%;
    transition: all 0.5s linear;
    filter: brightness(40%);
}
.shop img.active{
    transform: scale(1.2);
}
.shop a{
    position: absolute;
    color: #fff;
    top: 80%;
    left: 45%;
}
.shop a button{
    font-size: 1.2vw;
    color: #fff;
    background-color: var(--main-darkgreen);
    border: none;
    width: 150%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.shop a button:hover{
    outline: 3px solid #fff;
    background-color: rgba(48, 60, 48, 0);
    color: var(--main-green);
    transition: 0.2s;
}



/* footer */
footer{
    background-color: var(--main-darkgreen);
    color: #fff;
    padding: 2% 0%;
    padding-top: 5%;
}
.footerInfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer h1{
    margin-left: 20%;
}
/* sns */
.footerInfo #sns{
    width: 50%;
    margin-left: 20%;
}
.footerInfo #sns li{
    margin: 5%;
}
.footerInfo #sns li a{
    color: #fff;
}
.footerInfo #sns li a:hover{
    font-weight: bold;
}
/* contact */
.footerInfo #contact{
    width: 50%;
    margin-left: 10%;
}
.footerInfo #contact li{
    margin: 5%;
}
.footerInfo #contact li > span{
    padding-right: 5%;
}
footer > p{
    text-align: center;
}
@media(min-width: 1060px){
    footer h1{font-size: 1.7em;}
    .footerInfo #sns li a{font-size: 1em;}
    .footerInfo #contact li{font-size: 1em;}
    footer > p{font-size: 1em;}
}
@media(max-width: 900px){
    footer h1{font-size: 1em;}
    .footerInfo #sns li a{font-size: 0.8em;}
    .footerInfo #contact li{font-size: 0.8em;}
    footer > p{font-size: 0.8em;}
}



/* 맨 위로 */
#top{
    opacity: 0;
}
#top.active{
    opacity: 1;
    transition: 1s;
}
#top .upto{
    position: fixed;
    z-index: 999;
    bottom: 3%;
    right: 1%;
    width: 91px;
    height: 98px;
    text-indent: -9999pc;
    background: url(/images/naver2.png) no-repeat -306px -426px;
}
#top .upto:hover{
    background-position: -412px -426px;
}